  <footer class="s-grid-row">
    <div class="s-grid-cell-sm-10 s-grid-cell-offset-sm-1">
       <ul class="links">
         <li>
           <a href="/">Home</a>
         </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
          <li>
            <a href="http://support.beme.com">Support</a>
          </li>
          <li>
            <a href="/privacy">Privacy</a>
          </li>
          <li>
            <a href="/terms">Terms</a>
          </li>
          <li>
            <a href="/policy">Policy</a>
          </li>
       </ul>

       <ul class="links social">
         <li>
           <a href="https://youtube.com/bemenews" target="_blank" rel="noopener">
             <amp-img class="icon" alt="youtube" src="/assets/images/youtube.png" srcset="
              /assets/images/youtube.png 1x,
              /assets/images/youtube@2x.png 2x,
              /assets/images/youtube@3x.png 3x,
              /assets/images/youtube@4x.png 4x
             " alt="youtube" />
           </a>
         </li>
         <li>
           <a href="https://instagram.com/beme" target="_blank" rel="noopener">
             <amp-img class="icon" alt="instagram" src="/assets/images/instagram.png" srcset="
              /assets/images/instagram.png 1x,
              /assets/images/instagram@2x.png 2x,
              /assets/images/instagram@3x.png 3x,
              /assets/images/instagram@4x.png 4x
             " alt="instagram" />
           </a>
         </li>
         <li>
           <a href="https://facebook.com/officialbeme" target="_blank" rel="noopener">
             <amp-img class="icon" alt="facebook" src="/assets/images/facebook.png" srcset="
              /assets/images/facebook.png 1x,
              /assets/images/facebook@2x.png 2x,
              /assets/images/facebook@3x.png 3x,
              /assets/images/facebook@4x.png 4x
             " alt="facebook" />
           </a>
         </li>
         <li>
           <a href="https://twitter.com/bemeapp" target="_blank" rel="noopener">
             <amp-img class="icon" alt="twitter" src="/assets/images/twitter.png" srcset="
              /assets/images/twitter.png 1x,
              /assets/images/twitter@2x.png 2x,
              /assets/images/twitter@3x.png 3x,
              /assets/images/twitter@4x.png 4x
             " alt="twitter" />
           </a>
         </li>
       </ul>
     </div>
  </footer>



  
  <!--
  <amp-img alt="Hummingbird"
  src="images/hummingbird-wide.jpg"
  width="640"
  height="457"
  layout="responsive"
  srcset="images/hummingbird-wide.jpg 640w,
            images/hummingbird-narrow.jpg 320w">
</amp-img> --> 