<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
  <div class="page">
    {% comment %}
      {% include header.html %}
    {% endcomment %}

    {{ content }}

    {% comment %}
      {% include footer.html %}
    {% endcomment %}

    {% comment %}
        {% include analytics.html %}
    {% endcomment %}
  </div>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>  
  <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async=""></script>
  <script custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async=""></script>
  <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js" async=""></script>

  </body>
</html>
